.main-container {
    display        : flex;
    justify-content: flex-start;
}

.main-container .container {
    width: max-content;
}

.container {
    margin   : 30px 0;
    color    : green;
    font-size: 20px;
}

.chart-container {
    display: flex;
    gap    : 20px;
}

.chart-container main {
    width     : calc(100% - 10px);
    min-height: 400px;
}

.chart-container .legend {
    width          : 260px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    gap            : 20px;
}

ul#legend1,
ul#legend2 {
    list-style    : none;
    display       : flex;
    flex-direction: column;
    gap           : 6px;
    margin        : 0;
    padding       : 0 15px 0;
}

ul#legend1 li,
ul#legend2 li {
    font-weight: bold;
    display    : flex;
    align-items: center;
    gap        : 10px;
    cursor     : pointer;
}

ul#legend1 li span {
    display         : inline-block;
    height          : 14px;
    width           : 14px;
    background-color: red;
    border-radius   : 50%;
    transform       : translateY(2px);
}

ul#legend1 li strong {
    padding-left: 4px;
}

.highcharts-credits {
    display: none;
}

ul#legend1 li * {
    pointer-events: none;
}

ul#legend2 li * {
    pointer-events: none;
}

#slider {
    margin-top : 50px;
    margin-left: 60px;
    /* width   : calc(1046px - 65px); */
}

.tooltip-table {
    width          : max-content;
    border-collapse: collapse;
}

.tooltip-table tr th {
    background-color: #7cb5ec;
    color           : white;
}

.tooltip-table tr td:nth-of-type(2) {
    font-weight: bold;
    text-align : right;
}

.tooltip-table tr th:nth-of-type(1),
.tooltip-table tr td:nth-of-type(1) {
    padding-left: 2px;
}

.tooltip-table tr td:nth-of-type(2) {
    padding-left : 2px;
    padding-right: 2px;
}

.tooltip-table th,
.tooltip-table td {
    font-size: 12px;
    border   : 1px solid #7cb5ec;
}

.tooltip-table tr td span {
    height       : 10px;
    width        : 10px;
    display      : inline-block;
    border-radius: 50%;
}

#loading {
    width: 0;
    margin-bottom: 10px;
    height            : 2px;
    margin-left       : 40px;
    background-color  : #7cb5ec;
    box-shadow        : 0px 1px 15px 0px #7cb5ec;
    -webkit-box-shadow: 0px 1px 15px 0px #7cb5ec;
    -moz-box-shadow   : 0px 1px 15px 0px #7cb5ec;
}